$primary-yellow: #f7ce00;

.contact-page {
    width: 100%;
    margin-top: 20px;


    ul {
        padding: 0;
        margin: 0;

        li {
            padding: 0;
            margin: 0;
            list-style: none;
            margin-bottom: 10px;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
            clear: both;
        }
        
        li.half{
            width: 49%;
            margin-left: 2%;
            float: left;
            clear: none;

            &:first-child{
                margin-left: 0;
            }

        }
    }
    input[type='text'],
    input[type='email'] {
        width: 100%;
        border: 0;
        background: #115173;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 0 20px;
        box-sizing: border-box;

        
    }

    textarea {
        width: 100%;
        border: 0;
        background-color: #115173;
        height: 50px;
        font-size: 16px;
        color: #fff;
        padding: 20px;
        min-height: 150px;
        box-sizing: border-box;
    }

    input[type='text'],
    input[type='email'], 
    textarea {

        &::placeholder{
            color: #fff;
            opacity: 0.4;
        }
    }

    .flat-button{
        color: $primary-yellow;
        background: 0 0;
        font: 11px;
        letter-spacing: 3px;
        text-decoration: none;
        padding: 8px 10px;
        border: 1px solid $primary-yellow;
        float: right;
        border-radius: 4px;

        &:hover {
            background: $primary-yellow;
            color: #333;
            cursor:grabbing;
        }
    }

    .info-card {
        position: absolute;
        background-color: #000;
        top: 38%;
        right: 15rem;
        z-index: 10;
        max-width: 27rem;
        width: auto;
        padding: 4rem;
        color: #fff;
        font-family: 'Helvetica';
        font-size: 17px;
        font-weight: 300;
        opacity: 0;
        animation: fadeIn 1s 1.55s;
        animation-fill-mode: forwards;
    
        span {
            font-size: 16px;
            display: block;
            padding-top: 20px;
            color: #ffd700;
        }
    }

    @media (max-width:1000px){
        .info-card {
            position: relative;
            top: 80%;
            left: 14.5rem;
            width: 45%;
            animation: fadeIn 5s 2.55s;
            animation-fill-mode: forwards;
            margin-top: 100px;
            padding: 1em;
        }

    }
}